* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* selecona o elemento raiz de um documento, o que prevalece é o que se define no root e é utilizadopara definir variaves no css*/
    --blue: #1c19e4;
    --pink: #b81edb;
    --text: #fbfbfb;
}

.container {
    background: linear-gradient(90deg, var(--blue), var(--pink));
    max-width: 1024px;
    /*largura da tela de meu computador*/
    height: 95vh;
    margin: auto;
    margin-top: 10vh;
    border-radius: 10px;

    /*animação*/
    animation: fadeIn 3s ease-out;
}

@keyframes fadeIn {

    /*pode ser trocado o nome fadeIn  aqui faços passos para formar a nimação*/
    0% {
        box-shadow: none;
        background: rgba(255, 255, 255, 0.05);
        color: rgba(255, 255, 255, 0.05);
    }

    100% {}
}

body {
    font-family: poppins, sans-serif;
    color: var(--text);
    background-color: rgb(30, 150, 150);
    overflow-wrap: break-word;
    text-shadow: 3px 5px 8px #333;
}

header {
    color: var(--text);
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 25px;
    margin: 0;
}

h2 {
    font-size: 24px;
    margin: 30px;
}

.imagem {
    width: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
}

img {
    width: 200px;
    margin-left: 100px;
    vertical-align: middle;
    border-style: none;
}

section {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: poppins, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 10px
}

.descripcao {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

p {
    padding: 45px;
    margin-left: 50px;
    text-decoration: none;
    text-decoration: underline;
}


ul {
    padding: 0;
    margin: 20px 0;

}

form {
    margin: auto;
    width: 50%;
}

input {
    width: 250;
    margin-bottom: 10px;
    font-family: inherit;
    /*o estilo será herdado do elemento pai. */
    background: var(--text);
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    border-radius: .5rem;
    /*outline: none;*/
    border-color: aqua;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    /*copie o codigo https://getcssscan.com/css-box-shadow-examples*/
}


form input:focus {
    border-radius: 16px;
}

textarea {
    width: 50%;
    min-width: 8rem;
    resize: horizontal;
    transition: all 0.5s;
}



#mensag {
    width: 50%;
    border-radius: 5px;
    font-size: x-small;
    margin: 3px;
    padding-left: 3px;
}

.form-control {
    max-width: 50%;
    border-radius: 3px;
}

.btn-primary {
    color: var(--blue);
    font-family: inherit;
    /*o estilo será herdado do elemento pai. */
    background-color: var(--text);
    border-color: var(--pink);
    cursor: pointer;
    border: 2px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 0.5rem;
    transition: 0.3s ease;
    box-shadow: 2px 2px 7px 1px #cf7878;
}

.btn-primary:hover {
    /*deixa o btn com efeito*/
    transition: 0.6s ease;
}


footer p {
    color: var(--text);
    text-align: center;
    text-decoration: none;
    padding: 12px;
    font-size: smaller;
}

/*pagina obrigado  main*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #444481cf
}

.text {
    font-size: 65px;
    color: var(--blue);
    margin-bottom: 30px;
}

.paragrafo {
    color: var(--text);
    margin-bottom: 50px;
}

.botao {
    padding: 15px 55px;
    background: var(--pink);
    text-decoration: none;
    color: #5252cb;
    font-size: 18px;
    transition: all 0.5s;
}

.botao:houve {
    border-radius: 16Px;
}